<%- include('includes/_header') %>
    <h1> Laboratorio 17</h1>
    <h2> ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</h1>
    <p> Centraliza la lógica de datos, se le puede dar un mejor mantenimiento, 
        facilita la reutilización de consultas y fortalece la seguridad al prevenir inyecciones en SQL
    </p>
    <h2> ¿Qué es SQL injection y cómo se puede prevenir?</h2>
    <p> El SQL injection es una vulnerabilidad de seguridad, que permite a atacantes 
        manipular las consultas de la base de datos, es decir extraer datos que se encuentren 
        en la base de datos, se previene principalmente mediante el uso de consultas preparadas o parametrizadas.
    </p>
    <h1> Laboratorio 18 </h1>
    <h2>¿Qué otras formas de autentificación existen?</h2>
    <p>La autentificación es una manera para asegurar que solo las personas con los servicios adecuados,
        puedan ingresar a las areas que se permite. Se puede hacer de diferentes maneras como: autentificacion basada en conocimientos (Contraseñas/Nip),
        posesión basada en móviles o tokens, biometricos, de un solo uso, por voz, multifactor, etc.
    </p>
    <h1> Laboratorio 19 </h1>
    <h2>¿En qué consiste el control de acceso basado en roles?</h2>
    <p>El control de accesso basado en roles, es uuna manera de tener seguridad es decir es tener mayor seguridad
        en quien tiene acceso a que cosa y de esta manera tener más controlado los accesos que tiene la persona.
        También se le deja al administrador maneras de dar acceso a diferentes personas.
    </p>
    <h2>Investiguen y describan 2 sistemas, uno que aplique RBAC y uno que no. Realicen un análisis de las ventajas y desventajas de cada uno con respecto al control de acceso.</h2>
    <ul>
        <li>Sistems SaaS, gestión de recursos humanos</li>
        <li>En una plataforma así, no se asignan usuarios por usuarios sino en roles predefinidos.</li>
        <li>Ventajas: se pueden editar los permisos y se tiene mayor control.</li>
        <li>Desventajas: No se puede asignar usuario por usuario se tiene que meter a la base de datos, 
            los atacantes pueden aprovecharse de los permisos y asignarse permisos a ellos mismos.
        </li>
    </ul>
    <ul>
        <li>Editores de archivos como google docs.</li>
        <li>El sistema deja que culquier persona o personas que eligas puedan editar un archivo</li>
        <li>Ventajas: cualquier persna puede editar el archivo y no es necesaria tanta seguridad.</li>
        <li>Desventajas: No hay mucha seguridad y control de quien puede editar que y puede ser un problema de seguridad
        </li>
    </ul>
    <a href="/videojuegos"><button class = "button is-primary">Regresar al menu principal</button></a>
    