<%- include('includes/_header') %>
    <h1> Laboratorio 17</h1>
    <h2> ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</h1>
    <p> Centraliza la lógica de datos, se le puede dar un mejor mantenimiento, 
        facilita la reutilización de consultas y fortalece la seguridad al prevenir inyecciones en SQL
    </p>
    <h2> ¿Qué es SQL injection y cómo se puede prevenir?</h2>
    <p> El SQL injection es una vulnerabilidad de seguridad, que permite a atacantes 
        manipular las consultas de la base de datos, es decir extraer datos que se encuentren 
        en la base de datos, se previene principalmente mediante el uso de consultas preparadas o parametrizadas.
    </p>
    <a href="/videojuegos"><button class = "button is-primary">Regresar al menu principal</button></a>