<%- include ('includes/_header')%>
</div>
    </div>
        </section>
          <section class="section">
            <div class="container">
              <div class="columns">
                <div class="column">
                  <h1 class="title">Comandos de git</h1>
                  <ul>
                    <li>git add: Sirve para agregar cambios a la transacción.</li>
                    <li>
                      git commit -m "mensaje en imperativo": Sirve para comprometer 
                      la transacción, es decir, guardar los cambios.
                    </li>
                    <li>git checkout <strong>[nombre_rama]</strong>: Sirve para cambiarse de rama.</li>
                    <li>
                      git checkout -b [nombre_rama]: Sirve para crear una nueva rama y 
                      cambiarse a esa nueva rama.
                    </li>
                    <li>
                      git push: Sirve para sincronizar los cambios desde mi repositorio 
                      hacia el repositorio remoto.
                    </li>
                    <li>
                      git pull: Sirve para sincronizar los cambios del repositorio remoto 
                      hacia mi repositorio.
                    </li>
                  </ul>
                </div>
              </div>
            <a href = "/videojuegos"><button class="button is-primary">Regresar al menu principal</button></a>
<%- include ('includes/_footer')%>