/*Selector de tipo universales*/
*{
    background-color: rgb(255, 244, 214);
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", "serif";
    box-sizing: border-box;
}

/* Selecstor de tipo genericos */
body{
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
}

h1{
    margin: auto;
    left: 0;
    right: 0;
    border-bottom: 1px solid #878c96;
}

i{
    color: red;
}

h2{
    border-bottom: 1px solid #707275;
    margin: 1em
}

h3{
    margin: 1px;
    background-color: rgb(255, 228, 193);

}

p{
    margin: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;

}

ul{
    margin: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    

}

ol{
    margin: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
}

table, th, td{
    border-collapse: collapse;
    margin:auto;
    border: 1px solid black;
    background-color:white;
    text-align:center;
}

button{
    display: block;
    margin: auto;
}
/* Selector de tipo Clases */
.title{
    text-align: center;
    border-bottom: 20px;
    padding: 10px;
    color: rgb(216, 9, 199);
    border: rgb(0, 0, 0)
}

.pregunta{
    background-color:rgb(245, 189, 125);
    font-weight: bold;

}

/* Selectores de tipo Pseudo Clases */
img:hover{
    transform: scale(0.95);

}

button:hover{
    background-color: rgb(162, 238, 243);
}

button:active {
    transform: scale(0.95);
}
/* Selectores de tipo ID */
#hamilton{
    background-color: rgb(252, 241, 147);
}

#wicked{
    background-color: rgb(255, 184, 225);
}

#wicked_good{
    background-color: rgb(252, 179, 252);
}

#epic{
    background-color: rgb(152, 222, 243);

}

#atletismo{
    background-color: rgb(255, 136, 136) !important; 
}

