<form action = "/videojuegos/RespuestasLab11" method = "POST">
        <h1> Descripcion de lo aprendido en el lab11</h1>
        <p> En este laboratorio se trabajo con el uso de Express, aqui me di cuenta que era mucho mas 
        facil implementar los metodos de GET y POST que en el metodo del LAB10, tambien pude aprender
        que .use hace que se quede guardado lo ultimo usado por lo que se debe implementar hasta
        el ultimo, tambien aprendi a como crear diferentes objetos. </p>
    </form>
    <h2> Laboratorio 12 </h2>
    <p> ¿Qué otros templating engines existen para node? 
        Algunas plantillas populares son Pug, handlebars, Muctsache y Dust
    </p>
    <a href="/videojuegos"><button class = "button is-primary">Regresar al menu principal</button></a>