<%- include('includes/_header')%>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respuestas Laboratorio 13</title>
</head>
<body>
    <h1>Respuestas Lab 13</h1>
    <h2>¿Qué beneficios encuentras en el estilo MVC?</h2>
    <p>Algunos beneficios que encontré es que los archivos están mejor organizados,
        puedes visualizar de una mejor manera todos los archivos. Impone una mejor organización de los datos,
        teniendo mejor escalabilidad y si se necesita un cambio, se puede hacer rapidamente.
    </p>
    <h2>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h2>
    <p>Debido a que son muchos archivos puede ocasionar, mucha confusión en donde, 
        estan las cosas y te puedes tardar más tiempo en encontrar o buscar las funciones 
        que necesitas. Para aplicaciones pequeñas puede introducir una complejidad que no es necesaria.
    </p>
</body>
</html>

